.gt-navbar {
  background-color: #262626;
  img {
    width: 100%;
    height: auto;
  }
  h1 {
    display: inline-block;
    color: #fff;
  }
  .btn-logout {
    margin: 8px;
    float: right;
  }
}
.menu-navbar {
  padding: 0;
  background-color: #EEB211;
  ul {
    margin: 0;
    padding: 0;
    > li {
      display: inline-block;
    }
    a {
      border-radius: 0;
      color: #262626;
      &:hover, &.active {
        background: none repeat scroll 0 0 #262626;
        color: #FFFFFF;
        transition: background 0.3s ease 0s;
      }
    }
  }
}
