.gt-navbar {
  background-color: #262626;
  img {
    width: 100%;
    height: auto;
  }
  h1 {
    display: inline-block;
    color: #fff;
  }
  .btn-logout {
    margin: 8px;
    float: right;
  }
}
