.card {
  margin-right: 1rem;
  float: left;
  width: 100%;
  .image-container {
    background-color: #ccc;
    min-height: 180px;
  }
}
form {
  display: inline-block;
}
.card-container {
  margin-bottom: 2rem;
}
.statue-info {
  margin: 0;
  span {
    color: #721c24;
    font-weight: bold;
  }
}
.option-container {
  margin-bottom: 0.5em;
  overflow: hidden;
  form {
    float: right;
    button {
      padding: 0.5em 1em;
      font-size: 0.8em;
    }
  }
}
.button-container {
  text-align: right;
  button {
    font-size: 0.8em;
  }
}
