<footer>
  <div class="container">
    <div class="row">
      <div class="logo-container col-sm-12 col-md-4 text-center">
        <a href="http://www.gatech.edu/">
          <img alt="Georgia Tech" src="/assets/images/gt-logo-footer.png">
        </a>
        <p class="copyright">© Georgia Institute of Technology</p>
      </div>
      <div class="footer-links col-sm-12 col-md-8" role="navigation" aria-label="Legal">
        <ul>
          <li class="first"><a href="http://www.gatech.edu/emergency/">Emergency Information</a></li>
          <li><a href="http://www.gatech.edu/legal/">Legal &amp; Privacy Information</a></li>
          <li><a href="http://www.gatech.edu/accessibility/">Accessibility</a></li>
          <li><a href="http://www.gatech.edu/accountability/">Accountability</a></li>
          <li><a href="https://www.gatech.edu/accreditation/" class="">Accreditation</a></li>
          <li class="last"><a href="http://www.careers.gatech.edu">Employment</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
