<header>
  <section class="navbar gt-navbar">
    <div class="logo-container col-sm-3">
      <a class="navbar-brand" href="http://arts.gatech.edu/">
        <img src="/assets/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
      </a>
    </div>
    <div class="col-sm-6 text-center">
      <a href="/">
        <h1>Invisible Cities</h1>
      </a>
    </div>
    <div class="col-sm-3">
      <% if (hasLoggedIn) { %>
        <a href="/logout" class="btn btn-light btn-logout">Logout</a>
      <% } %>
    </div>
  </section>
  <% if (hasLoggedIn) { %>
    <section class="navbar menu-navbar">
      <div class="container">
        <ul>
          <li><a class="btn" href="/">Statues</a></li>
          <li><a class="btn" href="/campus-map">Campus Map</a></li>
          <% if (isAdminUser) { %>
            <li><a class="btn" href="/admin">Admin Portal</a></li>
          <% } %>
        </ul>
      </div>
    </section>
  <% } %>
</header>
