<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %>
  <link rel="stylesheet" href="/css/statueList.css">
</head>
<body>
  <%- include('partials/header') %>
  <main>
    <div class="jumbotron text-center">
      <h1>Statue List</h1>
    </div>
    <div class="container">
      <div class="row">
        <% statueKeys = Object.keys(statues) %>
        <% for (var i = statueKeys.length - 1; i >= 0; i--) { %>
          <% const sId = statueKeys[i] %>
          <% const previewPicURL = statues[sId].statuePreviewPicURL; %>
          <div class="card-container col-md-6 col-lg-4">
            <%- include('partials/statueCard', {
              statue: statues[sId],
              statueId: sId,
              previewPicURL: previewPicURL.substr(0, 95) + '%2f' + previewPicURL.substr(96)
            }) %>
          </div>
        <% } %>
      </div>
    </div>
  </main>
  <% include partials/footer %>
</body>
<script type="text/javascript">
  $(document).ready(function() {
    $('img').error(function(){
      $(this).hide();
    });

    $('#removeBtnForm').click(function(ev) {
      ev.preventDefault();
      let errMsg = 'Are you sure that you want to delete statue:' + ev.target.dataset['statueName'] + '?';
      if (confirm(errMsg)) {
        $(this).unbind('submit').submit();
      }
    });
  })
</script>
</html>
