<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %>
  <link rel="stylesheet" href="/css/statueList.css">
</head>
<body>
  <%- include('partials/header') %>
  <main>
    <div class="jumbotron text-center">
      <h1>Statue List</h1>
    </div>
    <div class="container">
      <div class="row">
        <div id="app">
          <div class="card-container col-md-6 col-lg-4" v-for="(statue, id) in statues">
            <statue-card v-bind:statue="statue" v-bind:statueId="id"></statue-card>
          </div>
        </div>
      </div>
    </div>
  </main>
  <% include partials/footer %>
  <script type="module" src="./components/StatueCard.js"></script>
  <script type="module" src="./vue/statueList.js"></script>
</body>
<script type="text/javascript">
  $(document).ready(function() {
    // $('img').error(function(){
    //   $(this).hide();
    // });

    $('#removeBtnForm').click(function(ev) {
      ev.preventDefault();
      let errMsg = 'Are you sure that you want to delete statue:' + ev.target.dataset['statueName'] + '?';
      if (confirm(errMsg)) {
        $(this).unbind('submit').submit();
      }
    });

  });
</script>
</html>
