<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %>
  <link rel="stylesheet" href="/css/statueList.css">
</head>
<body>
  <%- include('partials/header') %>
  <main>
    <div class="jumbotron text-center">
      <h1>Statue Lists</h1>
    </div>
    <div class="container">
      <div class="row">
        <% for (let sId in statues) { %>
          <div class="card-container col-sm-4">
            <%- include('partials/statueCard', { statue: statues[sId], statueId: sId }) %>
          </div>
        <% } %>
      </div>
    </div>
  </main>
  <% include partials/footer %>
</body>
<script type="text/javascript">
  $(document).ready(function() {
    $('#removeBtnForm').click(function(ev) {
      ev.preventDefault();
      let errMsg = 'Are you sure that you want to delete statue:' + ev.target.dataset['statueName'] + '?';
      if (confirm(errMsg)) {
        $(this).unbind('submit').submit();
      }
    });
  })
</script>
</html>
