.card {
  margin-right: 1rem;
  float: left;
  width: 100%; }

form {
  display: inline-block; }

.card-container {
  margin-bottom: 2rem; }

.statue-info {
  margin: 0; }
  .statue-info span {
    color: #721c24;
    font-weight: bold; }

.button-container {
  text-align: right; }
